/* Flex Item */
.item {
	margin: 5px;
	height: 10em;
	width: 100%;
	background-color: #ccc;
	text-align: center;
	font-size: 0.75em;
	padding-top: 42px;
	border: 1px solid gray;
}

.container {
    display: flex;
	max-width: 400px;
	margin: 10 auto;

}
.row {
	flex-direction: row;
}