<ion-header>
  <ion-toolbar>
    <ion-title>Prestador de Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div style="background-color: #ccc">
<h3>Selecione um prestador de serviço:</h3>
<div class="container flex">
	<div class="item">
    <i class="fas fa-paint-roller"></i>
    <p>Pintor</p>
  </div>
	<div class="item">
      <i class="fas fa-paint-roller"></i>
      <p>Pintor</p>
  </div>
	<div class="item">
      <i class="fas fa-paint-roller"></i>
      <p>Pintor</p>
  </div>
</div>
</div>
</ion-content>
